.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 340px; /* Fixed height to ensure consistent size */
  width: 195px; /* Fixed width to ensure consistent size */
  display: flex;
  margin: 5px 3px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.book-image{
  width: 100%;
  height: 60%;
}

.book-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto; /* Centers the image */
}

.book-title-item {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.book-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

/* Remove underline for links */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

a:hover {
  color: #007bff; /* Optional: Change color on hover */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
  color: #333;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}
.book-price {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.book-discount{
    padding: 3px 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(241, 93, 93);
    color : whitesmoke !important;
    border-radius: 5px;
}
.book-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 1;
  flex-direction: column;
}
.book-favourite, .book-cart {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-favourite:hover, .book-cart:hover {
  background-color: #f0f0f0;
}

.book-favourite, .book-cart{
  font-size: 20px;
  color: rgb(61, 162, 216);
}

.cardItem{
  position: relative;
}
.cardItem:hover .book-favourite, .cardItem:hover .book-cart {
  display: flex;
}

.red_hide{
  display: flex !important;
  color: rgb(255, 87, 57) !important;
}