.products-list-wrapper {
    padding: 20px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
  }
  
  .products-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
  }
  a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
  }
  
  a:hover {
    color: #007bff; /* Optional: Change color on hover */
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pagination span {
    font-size: 16px;
    color: #333;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  