.slide-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slide-button {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgb(181, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%);
    top: 50%;
    font-size: 2.5em;
    color: red;
}

.slide-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slide-button.prev {
    left: 10px;
}

.slide-button.next {
    right: 10px;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}