.fter{
    /*background-color: #e4e4e4;*/
    background-color: #CD0000;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  
  .footer h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #FFD700;
  }
  
  .footer-chu{
  text-align: center;
  font-size: 20px;
  }
  
  .footer-mxh{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer-nam{
    text-align: center;
  }