    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    /*position: fixed;*/
    transition: all 0.5s;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 10% 20%, rgb(238, 56, 56) 0%, rgba(206, 21, 0, 0.92) 90.1%);
}
.logo_container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 120px;
    object-fit: contain; /* Giữ tỉ lệ ảnh trong khung, thêm khoảng trắng nếu cần */
  }
  
  
  .extra-buttons {
      display: flex;
  }
  
  .search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
        
  .tim-kiem {
      padding: 8px;
      padding-right: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin: 0 10px;
      width: 60vw;
      height: 3vw;
      flex: 1;
  }
        
  .search-icon {
      color: #CD0000;
      position: absolute;
      font-size: 18px;
      top: 50%;
      right: 20px; 
      transform: translateY(-40%);
  }
        
  .search-icon:hover{
      color: #FFD700;
      cursor: pointer;
  }
  
  .nav2 {
      background-color: transparent;
      border: none;
      color: #ffffff;
      padding: 8px 15px;
      margin: 0 5px;
      cursor: pointer;
      font-size: 15px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .nav2:hover{
      color: #FFD700;
  }

  .navv2 {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .navv2:hover{
    color: #FFD700;
    background-color: transparent;
    }
    .gio_hang {
        position: relative;
    }

    .total_cart {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }