h1 {
    color: #CD0000;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

table tbody tr:hover {
    background-color: rgba(206, 21, 0, 0.1);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stt {
    text-align: center;
}

.pagination {
    text-align: center;
}

.arrow {
    font-size: 20px;
    background-color: #ffffff;
    padding: none;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}

.adusdehd {
    display: flex;
    justify-content: space-between;
}

.adusdehd button {
    font-size: 30px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #CD0000;
}

.adusdehd button:hover {
    color: #FFD700;
}

.adush3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.kardspp {
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: auto;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.kardspp-image {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
    /*cursor: pointer;*/
}

.kardspp-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 5px;
    color: #000000;
    min-height: 100px;
}

.kardspp-price {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    color: #000000;
    text-align: center;
}

.delete-btn {
    background-color: #CD0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
}

.delete-btn:hover {
    background-color: antiquewhite;
    color: #CD0000;
    border: #000000;
    border: 1px solid;
}

.add-voucher-title h1 {
    margin-top: 50px;
}

.add-voucher-form {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
}

.add-voucher-form input,
.add-voucher-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-voucher-form .date-input {
    padding-right: 40px;
}

.add-voucher-form .add-btn {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
}

.add-voucher-form .add-btn:hover {
    background-color: #45a049;
}

/* 
@media (max-width: 768px) {
    .add-voucher-form {
        padding: 15px;
    }

    .add-voucher-form h1 {
        font-size: 20px;
    }

    .add-voucher-form input,
    .add-voucher-form select {
        font-size: 12px;
        padding: 8px;
    }

    .add-voucher-form .add-btn {
        font-size: 14px;
        padding: 10px;
    }
} */